
@{
    ViewData["Title"] = "ホーム";
}

<section id="caution">
    <p>このサイトは、明月またはKamioda Gamesが提供するサービスへのリダイレクトサービスページです</p>
    <p>それ以外のサイトへのURLの短縮は行っておりませんので予めご了承下さい</p>
</section>
<section id="services"></section>
